.selected {
    color: #311b05;
}

header {
    background-color: #9D9D9D;
    height: 70px;
}

li {
    height: 100px;
    margin-top: -10px;
}

.navbar {
    margin-top: -60px;
    height: 10px;
    list-style: none;
    margin-left: -4%;
}

.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    margin-left: 4%;
    margin-right: 4%;
    width: 10%;
    color: #66370b;
}

.navbar a:hover {
    color: #311b05;
}

.bar {
    background-color: #6c6c6c;
    height: 10px;
}

.logo {
    width: 200px;
}

nav {
    margin-bottom: 140px;
}